[Unit]
Description=Lumo
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/google-chrome-stable --app=https://lumo.proton.me
Restart=no
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_RUNTIME_DIR=%t
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=graphical-session.target