- name: Install packages
  community.general.pacman:
    name:
      - binutils
      - fakeroot
      - gcc
      - make
      - sudo
  when: ansible_facts['distribution'] == "Archlinux"

- name: Create user and add to wheel group
  ansible.builtin.user:
    name: "{{ host.user.wheel.name }}"
    shell: /bin/bash
    groups: wheel
    append: true
    password: "{{ host.user.wheel.password }}"
  when: ansible_facts['distribution'] == "Archlinux"

- name: Allow wheel group to execute any command
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    regexp: "^# %wheel ALL=(ALL) NOPASSWD: ALL"
    line: "%wheel ALL=(ALL) NOPASSWD: ALL"
    validate: visudo -cf %s
  when: ansible_facts['distribution'] == "Archlinux"
